.hoverContainer {
  position: relative;
}

.overlay {
  @apply bg-brand;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente transparente, aparecerá al hacer hover */
  transition: opacity 0.3s ease; /* Agregar transición suave */
  @apply rounded-xl;
}

.hoverContainer:hover .overlay {
  opacity: 1; /* Hacer visible al hacer hover */
}

.subscribe-button {
  background-color: white;
  color: red;
  border: 2px solid red;
  padding: 10px 20px;
  cursor: pointer;
}
